body {
    margin:0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-size: 4rem;
}

.container{
    width: 97%;
    max-width: 100%;
    margin: 0 auto;
}
.nav-container  img {
    width: 100px;
}



.list-container {
    display: flex;
    width: 100%;
    margin: 0;
    justify-content: flex-end;
    align-items: center;
}

.nav-container {
    width: 100%;
    background: whitesmoke;
    display: flex;
    justify-content: space-between;
}

.list-item {
    list-style: none;
    font-weight: 500;
    padding: 2em 2em;
    margin: 0;
}
.list-item:hover {
    background: rgb(243, 222, 101);
    cursor: pointer;
}

.list-item a {
    color: black;
    text-decoration: none;
    text-align: center;
}

@media (max-width: 675px) {
    .nav-container{
        flex-direction: column;
        width: 100%;
    }


    .list-container {
        flex-direction: column;
        padding: 0;
        text-align: center;
        width: 100%;
    }
}



.about {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 6em;
    background: #ffd23f;
    border-radius: 13px;
    padding: 0 0em;
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: 2;
}

.about-item1 {
    width: 40%;
    padding: 1em;
}

.about > img {
    width: 50%;
    transform: rotate(15deg) scale(1);
    margin-right: .6em;
}

.about-item1 > p {
    letter-spacing: 0.1em;
    line-height: 1em;
}
@keyframes example {
    from {background-color: rgb(255, 255, 255);}
    to {background-color: rgb(255, 233, 40);}
  }


#investBtn {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    border-radius: 11px;
    width: 150px;
    padding: 1.2em 2em;
    margin: 1em auto;
    border: none;
    background: #c5c5c5;
}

h3 {
    font-size: 1.9rem;
}

.card-container {
    display: flex;
    justify-content: space-between;
}

.card1 {
    width: 30%; 
    background: #ececec;
    border-radius: 11px;
    padding: 2em;
    background-repeat: no-repeat;
    background-size: cover;
  
}

 .card2 {
     width: 50%;
     padding: 2em;
    background: #ececec;
    border-radius: 11px;
}

.pricing-container {
    display: flex;
    justify-content: space-between;
}


.catalogue {
    margin-bottom: 6em;
}

.pricing{
    margin-bottom: 6em;
}

.pricing-card {
    width: 25%;
    background: #ececec;
    padding: 1.5em;
    border-radius: 11px;
}

a {
    text-decoration: none;
    color: rgb(255, 145, 0);
    margin-bottom: 0.3em;
    font-size: 14px;
}

.center {
    display: flex;
    justify-content: space-evenly;
    background: #ececec;
    padding: 2em 0;
}

.footer-links {
    display: flex;
    flex-direction: column;
}

h4 {
    margin-bottom: 1em;
}

.subscribe input  {
    border-radius: 12px;
    border: 1px solid;
    padding-right: 50px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.subscribe button {
    border-radius: 12px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border: 1px solid;
    margin-left: -70px;
    background-color: #ffd23f;
    border: 1px solid;
}


@media (max-width: 675px) {

    .about {
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 0;
    }

    .about-item1 {
        text-align: center;
        width: 75%;
    }



    h3 {
        text-align: center;
    }

    .card-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .card1 {
        margin-bottom: 2em;
        width: 75%;
        text-align: center;
    }

    .card2 {
        margin-bottom: 2em;
        width: 75%;
        text-align: center;
    }

    .pricing-container {
        flex-direction: column;
        align-items: center;
    }

    .pricing-card {
        text-align: center;
        width: 75%;
        margin-bottom: 1em;
    }

    .catalogue {
        margin-bottom: 0;
    }

    .pricing {
        margin-bottom: 0;
    }

    .pricing-card h4 {
        text-align: center;
    }

    .pricing-card a {
        text-align: center;

    }

    .pricing-list {
        display: flex;
        flex-direction: column;
        justify-content: first baseline;
        align-items: center;
    }

   .center {
       flex-direction: column;
       text-align: center;
        border: solid;
   }
}